VERIFIER_DATASET_PASSWORD=LongPassword_Encryption1
RUST_LOG=info
DIRECT_TRUST_DIR_PATH=path_to_direct_trust_dir
TXT_TAB_SIZE=2
REPORT_FORMAT_DATE=
REPORT_EXPORT_PDF=true
REPORT_EXPORT_HTML=true
REPORT_EXPORT_TXT=true
REPORT_ELECTORAL_BOARD_MEMBERS=Person 1, Person 2, Person 3
REPORT_LOGO=path_to_logo
REPORT_BROWSER_PATH=path_to_browser_executable
REPORT_BROWSER_SANDBOX=false
